/*inicio Catálogo*/


.layout-titulo{
  width: 100%;
  box-sizing: border-box;
  color: #000000;
  background-color: #000000;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  padding: 20px 50px 20px 100px;
  
}

.layout-catalogo{
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(180deg, #000000, #1c1b1b,#000000); /* Gradiente vertical */
  color: #fff;
  font-family: "Open Sans", sans-serif;
  padding: 20px 20px;
  
}

/*FIM CATÁLOGO*/