/* CABEÇALHO */

.logotipo {
  margin-left: 10%;
}

.menu {
  list-style: none;
  margin-right: 10%;
  font-size: 2rem;
}

.menu__lista{
  margin-bottom: 0;

}

.menu__item {
  display: inline-block;
  margin-right: 50px;
  text-decoration: none;
  color: #000;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item:hover {
  text-decoration: underline;
  color: #311228;
}


.btn--chaveador{
  width: 25px;
  height: 30px;
  background: none;
  background-image: url('../../assets/img/hamburguer.png');
  outline: none;
  border: 0;
  float: right;
  margin-right: 50px;
}

@media(min-width: 1041px){
  .btn--chaveador{
    display: none;
  }
}

@media(max-width: 1040px){
  .menu{
    position: absolute;
    z-index: 10;
    right: 20px;
    top: 70px;
    background-color: #2727278c;
    margin-right: 0;
    padding: 10px 20px;
    display: none;
    
  }

  .menu__lista{
    margin-bottom: 0;
    padding-left: 0;
    text-align: center;
    
  }
  
  .menu__item{
    margin: 0;
    padding: 0;
    display: block; 
    color: #fff;   
  }

  .menu__item:hover{
    text-decoration: underline;
    color: #fff;
  }

  .logotipo {
    margin-left: 30%;
  }
}
/* FIM CABEÇALHO */



/* COMPONENTES FILME */
.capa {
  margin-top: 60px;
  height: 80vh;
}

.capa-img {
  margin-top: 35px;
  border-radius: 10%;
}


.texto {
  margin-top: 120px;
}

.texto-titulo {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  color: crimson;
}

.texto-sinopse {
  font-family: "Open Sans", sans-serif;
  margin-top: 30px;
  margin-right: 20px;
  color: #fff;
  font-size: 1.5rem;
}


.info__style {
  text-align: center;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  margin-top: 10px;
  margin-left: 30px;
}

.info{
  text-align: center;
    align-items: center;
    margin-left: 100px;
}

.trailer {
  margin-top: 40px;
  margin-bottom: 20px;
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 10px;
  background-color: crimson;
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
}

.trailer:hover {
  color: #fff;
  background-color: #311228;
}
@media(max-width: 991px){
  .capa{
    align-items: center;
  }

  .texto-sinopse{
    align-items: center;
    margin-right: 15px;
    font-size: 20px;
    border-bottom: 1rem;
  }

  .info__style{
    font-size: 1.4rem;
    padding-inline: 15px;
    margin-left: 30px;
  }

  .info{
    text-align: center;
    align-items: center;
    margin-left: 60px;
  }

  .trailer{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 1rem;
    height: 60px;

  }
}
/*FIM*/

/* RODAPE */
.rodape-icons {
  height: 60px;
  text-align: center;
  padding-top: 15px;
}

.rodape__icons {
  list-style: none;
}

.icons {
  display: inline-block;
  margin-right: 30px;
}

.rodape__copyright {
  height: 40px;
  text-align: center;
  padding: 9px 0;
}
/* FIM RODAPE */
