/* COMPONENTES FILME */
.capa {
  margin-top: 60px;
  margin-bottom: 50px;
}

.capa-img {
  margin-top: 35px;
  border-radius: 10%;
}


.texto {
  margin-top: 120px;
  margin-bottom: 50px;
}

.texto-titulo {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  color: crimson;
}

.texto-sinopse {
  font-family: "Open Sans", sans-serif;
  margin-top: 30px;
  margin-right: 50px;
  color: #fff;
  font-size: 1.5rem;
}


.info__style {
  text-align: center;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  margin-top: 10px;
  margin-left: 100px;
}

.info{
  text-align: center;
    align-items: center;
}

.trailer {
  margin-bottom: 20px;
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 10px;
  background-color: crimson;
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
}

.trailer:hover {
  color: #fff;
  background-color: #311228;
}
@media(max-width: 991px){
  .capa{
    align-items: center;
  }

  .texto-sinopse{
    align-items: center;
    margin-right: 15px;
    font-size: 20px;
  }

  .info__style{
    font-size: 1.4rem;
    padding-inline: 15px;
    margin-left: 30px;
  }

  .info{
    text-align: center;
    align-items: center;
    margin-left: 60px;
  }

  .trailer{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 1rem;
    height: 60px;

  }
}
/*FIM*/