/* LAYOUT FILME */
  .layout-filme {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
}

.layout-filme {
  background: linear-gradient(#1c1b1b, #1e0b19);
}


.layout-info {
  padding: 0 20px;
  margin-top: 20px;
  color: #fff;
}

/* FIM DO LAYOUT FILME */
