/* CABEÇALHO */
.layout-cabecalho {
  width: 100%;
  height: 70px;
  background-color: #b3b3b3;
  position: static;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue", sans-serif;
}


.container--cabecalho {
  width: 100%;
  margin: 0;
}

.layout-logo {
  height: 70px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: left;
  box-sizing: border-box;
}



  .layout-menu {
    margin: 0;
    padding: 0;
    height: 70px;
    box-sizing: border-box;
    display: flex;
    align-items:end;
    justify-content: end;
  }
/* FIM CABEÇALHO */


.layout-capa{

  font-family: "Bebas Neue", sans-serif;
  color: white;
  background-image: url('../../assets/img/Catalogo1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-formulario{

font-family: "Bebas Neue", sans-serif;
color: #fff;
  width: 100%;
  
  background-color: #fff;
}

.layout-card{
  width: 100%;
  margin-top: 50px;
}
















/* RODAPE */
.layout-rodape{
    height: 100px;
    background-color: #311228;
    color: #fff;
    font-family: "Open Sans", sans-serif;
}
/* FIM RODAPE */